<head>



    <!-- Title Page-->
    <title>Registration</title>

    <!-- Icons font CSS-->
    <link href="assets/loginregister/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet"
        media="all">
    <link href="assets/loginregister/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="assets/loginregister/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="assets/loginregister/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="assets/loginregister/css/main.css" rel="stylesheet" media="all">

</head>

<body>

    <div class="site-navbar mt-4">
        <div class="container py-1">
            <div class="row align-items-center">
                <div class="col-8 col-md-8 col-lg-4">
                    <h1 class="mb-0"><a href="index.html" class="text-white h2 mb-0"><strong>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Homeland<span
                                    class="text-danger">.</span></strong></a></h1>
                </div>
                <div class="col-4 col-md-4 col-lg-8">
                    <nav class="site-navigation text-right text-md-right site-navbar" role="navigation">

                        <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#"
                                class="site-menu-toggle js-menu-toggle text-white"><span
                                    class="icon-menu h3"></span></a></div>

                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li><a href="register">Register</a></li>
                            <li class="active"><a href="login">Login</a></li>
                        </ul>
                    </nav>
                </div>


            </div>
        </div>
    </div>

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins"
        style="background-image: url(/assets/images/registration.jpg);">



        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Enter your credentials</h2>
                    <form #f="ngForm" name="registerform" novalidate>

                        <div class="form-group">

                            <div class="row row-space">
                                <div class="input-group">
                                    <label class="label">Email: </label>
                                    <input class="input--style-4" [(ngModel)]="useremail" type="email"
                                        name="userEmail" #userEmail="ngModel"
                                        [ngClass]="{'is-invalid':f.submitted && userEmail.invalid }"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" required>
                                </div>
                            </div>
                            <div *ngIf="userEmail.invalid && (userEmail.dirty ||userEmail.touched || f.submitted)"
                                class="alert alert-danger">
                                <div *ngIf="userEmail.errors.required">
                                    Email is required.
                                </div>
                                <div *ngIf="userEmail.errors.pattern">Email must be a valid email address</div>
                            </div>

                            <div class="row row-space">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" [(ngModel)]="password" type="password"
                                        name="userPassword" #userPassword="ngModel"
                                        [ngClass]="{'is-invalid':f.submitted && userPassword.invalid }"
                                        pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})" required>
                                </div>
                            </div>
                            <div *ngIf="userPassword.invalid && (userPassword.dirty ||userPassword.touched || f.submitted)"
                                class="alert alert-danger">
                                <div *ngIf="userPassword.errors.required">
                                    Password is required.
                                </div>
                                <div *ngIf="userPassword.errors.pattern">Enter valid password</div>
                            </div>

                            <div class="p-t-15">
                                <button (click)="checkLogin()" [disabled]="f.form.invalid"
                                    class="btn btn--radius-2 btn--blue" type="submit">Login</button>
                            </div>

                        </div>
                    </form>
                    <div class="p-t-15">
                        <a href="register"> New here? Signup!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>